<!DOCTYPE html>
<html ng-app="MyFirstModule">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My First Angularjs App</title>
  </head>
  <body ng-controller="MyFirstController">

    <h2><u>WEEK 1</u></h2>

    <h3>*** Starting Angular:</h3>

    Type your name here: <input type="text"
                                ng-model="name"
                                ng-keyup="uppercaseName()"><br>

    {{sayHello()}}, {{name}}! <br>

    Your name's ASCII code adds to : {{updateAscii()}} <br>

    <br>

    <h3>*** Expression Everywhere:</h3>

    <h4>Say hi to flash !</h4>

    <img ng-src="images/flash-{{flashStatus()}}.{{flashImgExt()}}"
         ng-click = "toggleFlashStatus()"
         style="height: 100px; width: 150px">

    <h2><u>WEEK 2</u></h2>

    <h3>*** Two Way Binding:</h3>

    Name: <input type="text" ng-model="myName"><br>

    Two way bind: <input type="text" ng-model="myName"><br>

    <br>

    <h3>*** Custom Filter (Palindrom):</h3>

    Reverse Name: <b>{{ reverseMe() | uppercase }}</b><br>

    <br>

    <h3>*** ng-repeat:</h3>

    <table border="1">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <tr ng-repeat="item in shoppingList">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency : '₹': 2 }}</td>
        <td>{{ item.quantity }}</td>
      </tr>
    </table><br>

    <h3>*** Filtered ng-repeat:</h3>

    <input type="text" ng-model="searchString" placeholder="search item"><br><br>
    <table border="1">
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      <tr ng-repeat="item in shoppingList | filter : searchString">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency : '₹': 2 }}</td>
        <td>{{ item.quantity }}</td>
      </tr>
    </table>
  </body>
</html>
