<!DOCTYPE html>
<html ng-app="MyFirstModule">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My First Angularjs App</title>
  </head>
  <body ng-controller="MyFirstController">
    <h1>Beware, AngularJS learner passing through !</h1>

    Name: <input type="text" ng-model="name">

    <br><br>

    Two way bind: <input type="text" ng-model="name">

    <br><br>

    Reverse Name: <b>{{ reverseMe() | uppercase }}</b>
  </body>
</html>
